<!DOCTYPE html>
<html lang="en-us">
    <head>
      <title><%=h game.name %></title>
      <%= css :application, :media => 'screen' %>
    </head>
    <body>
    </body>
      <h1><%=h game.name %></h1>

      <%= embedded_game %>
    </body>
</html>
